<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AdidasReviewTestSuite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="review.TC1_VerifyProductDetails"/>
      <class name="review.TC2_AddReview"/>
      <class name="review.TC3_VerifyReviewSubmission"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
